
.vs
.git
bin/
obj/
node_modules/

*.template
*.sln

component.json
README.md
.gitattributes
.gitignore
*.txt
*.csproj
*.csproj.user
*.bat
*.ps1

Definitions

# exclude all files that are not created with the new build script
jsnlog.min.js
jsnlog.js.map

# jsnlog.d.ts
jsnlog.export.d.ts
jsnlog.jl.d.ts
DefinitionsGenerator/



